#mapcontainer{
    position:relative;
    width:100%;
    height: 100%;
    z-index:1;

}

#map {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 2;

}


#hover{
    position: absolute;
    width:200px;
    height:200px;
    background-color: red;
    color: black;
    z-index: 3;
    margin-left: 47px;
}

#highcharts_container{
    position:fixed;
    bottom:0;
        left:0;
    margin-bottom: 20px;
    margin-left : 47px;
    width: 55%;
    height: 60%;
    color: black;
    z-index: 3;

}

